/* Default Styles */
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  /* Header Class */
  .headerclass {
    background-color: #1f2937;
    padding: 10px 0;
    text-align: center;
    display: flex;
    height: 30px;
    flex-direction: row;
    padding-left: 128px;
    justify-content: space-between;
  }
  /* Logo Class */
  .logoclass {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-items: baseline;
  }
    
  .headerlogo {
    color: #f9faf8;
    font-size: 18px;
    text-align: center;
  }
  /* Links Class */
  .linksclass {
    align-items: center;
    display: flex;
    padding-left: 72px;
    justify-self: right;
    flex-direction: row;
  }
  
  /* List Class */
  .listclass {
    display: flex;
    text-align: center;
    list-style-type: none;
  }  /* List Class */
  
  .liclass {
    display: flex;
    padding: 0px 20px;
    text-align: center;
    list-style-type: none;
  }
  
  .secfont {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
  }

  .Hero {
    display: flex;
    background-color: #3882f6;    
  }

  .content {
    display: flex;
    background-color: #1f2937;
  }

  .footer {
    display: flex;
    background-color: #3882f6;
  }
