  <header class="headerclass">
    <div class="logoclass">
      <h2 class="headerlogo">Header Logo</h2>
    </div>
    <nav class="linksclass">
      <ul class="listclass">
        <li class="liclass">
          <a href="/" class="secfont">Home</a>
        </li>
        <li class="liclass">
          <a href="/sketch" class="secfont">Sketch</a>
        </li>
        <li  class="liclass">
          <a href="/calculator" class="secfont">Calculator</a>
        </li>
      </ul>     
    </nav>
  </header>