#calculator{
    display: flex;
    flex-direction: column;
    width: full;
    text-align: center;
    justify-items: center;
    color: black;
    margin: 20px;
}

#calculator h1{
    margin: 1%;
}

#calculator h3{
    margin: 1%;
}

#calculator p{
    color: #ffffff;
}

#calculator section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 3% 10%;
} 

#calculator section article{
    display: flex;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: auto;
    height: 370px;
    width: 600px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}


#calculator section aside{
    height: 370px;
    width: 100px;
    width: fit-content;
    justify-content: center;
    text-align: center;
}

#calculator section aside ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}