/* Default Styles */
  
  body {
    width: full;
    font-family: HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
  }
  /* Header Class */
  .headerclass {
    background-color: #1f2937;
    padding: 10px 0;
    text-align: center;
    display: flex;
    height: 30px;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
  }
  /* Logo Related Class */
  .logoclass {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-items: baseline;
  }
  .headerlogo {
    color: #f9faf8;
    font-size: 18px;
    text-align: center;
  }
  /* Navbar related classes*/
  .linksclass {
    align-items: center;
    display: flex;
    padding-left: 72px;
    justify-self: right;
    flex-direction: row;
  }
  .listclass {
    display: flex;
    text-align: center;
    list-style-type: none;
  }
  .liclass {
    display: flex;
    padding: 0px 20px;
    text-align: center;
    list-style-type: none;
  }
  
  /* Font for secondary text info*/
  .secfont {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    font-weight: normal;
  }

  /*Hero Content Classes*/
  .heroContainer {
    display: flex;
    background-color: #1f2937;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding-left: 10%; 
    padding-right: 10%;
    padding-top: 64px;
    padding-bottom: 64px;
    gap: 50px;
  }

  /* Hero Text Related Classes*/
  .heroText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    height: 100%;
    width: 50%;
    gap: 10px;
    padding-top: 0;
  }
  .heroHeader {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
    padding-top: 10%;
    padding-bottom: 0%;
    margin: 0%;
  }
  .heroSub {
    display: block;
    height: 30%;
    text-align: left;
    align-items: start;
    padding: 0;
    margin: 0;
  }
  .heroSign {
    display: block;
    background-color: #3882f6;
    color: #f9faf8;
    box-shadow: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 0;
    width: 130px;
    height: 13%;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
  }

  /* Hero Image Related Classes*/
  .heroImg {
    display: flex;
    min-height: 80%;
    min-width: 50%;
    align-items: center;
    justify-content: center;
    background-color: gray;
    text-align: center;
  }
  .placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: none;
  }

  /*Content Related Classes*/
  
  .recipes {
    background-color: white;
    height: 600px;
    padding: 100px 15%;
    position:relative;
  }
  
  
  .contentHeader {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: extra-bold;
    margin: auto;
  }  
  
  .contentScroller {
    background-color: white;
    height: 400px;
    display: flex;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    gap: 100px;
    margin: 20px;
  }  


  .contentLinks {
    background-color: inherit;
    min-width: 210px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    margin: 0%;
  }  

  .contentLinks a{
    min-height: 350px;
    width: 100%;
    border-style: solid;
    border-color: grey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
    margin: 0%;
    padding: auto;
    transition: border-color 0.3s;
  }

  .contentLinks a:hover{
    border-color: blue;
  }  
  

  .contentLinks a .img{
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
  }

  .contentLinks a:hover .img {
    opacity: 1;
    z-index: 100;
  }  
  

  #arrowLeft {
    left: 15%;
  }

  #arrowRight {
    right: 15%;
  }

  .recipes button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 20%;
    width: 5%;
    opacity: .3;
    cursor: pointer;
    user-select: none;
    border-style: none;
    background-color: #3882f6;
  }


  .recipes button:hover {
    background-color: #1f2937;
    opacity: 1;
  }
  



  #container {
    width: 300px;
    height: 100px;
    overflow: hidden;
    position: relative;
  }

  #tester01 {
    width: full;
    height: 100%;
    display: flex ;
    
    overflow: auto;
    border-color: #1f2937;
    border-style: solid;
    scroll-behavior: auto;
  }

  .scroller {
    -webkit-mask: linear-gradient(90deg, transparent,white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent,white 20%, white 80%, transparent);
    animation: scroll linear infinite;
    -webkit-overflow-scrolling: touch;
  }

  #tester01 p {
    display: inline-block;
    margin: 0;
    padding: 10px;
    border-color: #1f2937;
    border-style: solid;
    height: 50px;
    width: 100px;
    text-align: center;
  }


  /*Quotes Related Classes*/

  /*Call to Action Banner Related Classes*/
  .callAction {
    display: flex;
    background-color: #3882f6;
    width: 60%;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
    padding: 2% 5% 2% 7%;
    border-radius: 5px;
    margin: 30px 15%;
    color: #f9faf8;
  }

  .callAction p{
    margin-top: 0;
  }
  .callAction h2{
    margin-bottom: 0;
  }
  
  .callAction a button {
    display: block;
    background-color: inherit;
    border-color: #f9faf8;
    color: #f9faf8;
    box-shadow: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    width: 130px;
    height: 40px;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
  }


  /*Footer Related Classes*/
  footer {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
  }

  footer p{
    text-align: center;
    color: #e5e7eb;
    font-size: small;
    font-weight: lighter;
  }
