/* Default Styles */
  
  body {
    width: full;
    font-family: HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
  }
  /* Header Class */
  .headerclass {
    background-color: #1f2937;
    padding: 10px 0;
    text-align: center;
    display: flex;
    height: 30px;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
  }
  /* Logo Related Class */
  .logoclass {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-items: baseline;
  }
  .headerlogo {
    color: #f9faf8;
    font-size: 18px;
    text-align: center;
  }
  /* Navbar related classes*/
  .linksclass {
    align-items: center;
    display: flex;
    padding-left: 72px;
    justify-self: right;
    flex-direction: row;
  }
  .listclass {
    display: flex;
    text-align: center;
    list-style-type: none;
  }
  .liclass {
    display: flex;
    padding: 0px 20px;
    text-align: center;
    list-style-type: none;
  }
  
  /* Font for secondary text info*/
  .secfont {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    font-weight: normal;
  }

  /*Hero Content Classes*/
  .heroContainer {
    display: flex;
    background-color: #1f2937;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding-left: 10%; 
    padding-right: 10%;
    padding-top: 64px;
    padding-bottom: 64px;
    gap: 50px;
  }

  /* Hero Text Related Classes*/
  .heroText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    height: 100%;
    width: 50%;
    gap: 10px;
    padding-top: 0;
  }
  .heroHeader {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
    padding-top: 10%;
    padding-bottom: 0%;
    margin: 0%;
  }
  .heroSub {
    display: block;
    height: 30%;
    text-align: left;
    align-items: start;
    padding: 0;
    margin: 0;
  }
  .heroSign {
    display: block;
    background-color: #3882f6;
    color: #f9faf8;
    box-shadow: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 0;
    width: 130px;
    height: 13%;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
  }

  /* Hero Image Related Classes*/
  .heroImg {
    display: flex;
    min-height: 80%;
    min-width: 50%;
    align-items: center;
    justify-content: center;
    background-color: gray;
    text-align: center;
  }
  .placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: none;
  }

  /*Content Related Classes*/
  
  .recipes {
    background-color: white;
    height: 600px;
    padding: 100px 15%;
  }
  
  
  .contentHeader {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: extra-bold;
    margin: auto;
  }  
  
  .contentScroller {
    background-color: white;
    height: 400px;
    display: flex;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    gap: 20px;
    padding: 20px;
  }  


  .contentLinks {
    background-color: inherit;
    min-width: 180px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
  }  

  .contentLinks a{
    min-height: 350px;
    width: 100%;
    border-style: solid;
    border-color: grey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .contentLinks a:hover{
    z-index: 1000;
    border-color: blue;
  }  
  
  .contentLinks a .img:hover{
    background-image: url(../static/french-omellette-nobg.png) no-repeat center center cover fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: blue;
  }  
  
  .contentLinks a .img{
    display: none;
  }

  .contentLinks p{
    background-color: inherit;
    text-align: center;
    justify-items: center;
    max-height: 10px;

  }

  #container {
    width: 300px;
    height: 100px;
    overflow: hidden;
    position: relative;
  }

  #tester01 {
    width: full;
    height: 100%;
    display: flex ;
    
    overflow: auto;
    border-color: #1f2937;
    border-style: solid;
    scroll-behavior: auto;
  }

  .scroller {
    -webkit-mask: linear-gradient(90deg, transparent,white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent,white 20%, white 80%, transparent);
    animation: scroll linear infinite;
    -webkit-overflow-scrolling: touch;
  }

  #tester01 p {
    display: inline-block;
    margin: 0;
    padding: 10px;
    border-color: #1f2937;
    border-style: solid;
    height: 50px;
    width: 100px;
    text-align: center;
  }

  #arrowLeft {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
  }

  #arrowRight {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
  }
  

  /*Quotes Related Classes*/

  /*Call to Action Banner Related Classes*/
  
  /*Footer Related Classes*/
  .footer {
    display: flex;
    background-color: #1f2937;
  }
